<b><font size="6" color="red">Ch10. DB연동</b></font>

# 1절. SQLite 데이터베이스 연결
- SQLite 데이터베이스는 별도의 DBMS없이 SQL을 이용하여 DB 액세스 할 수 있도록 만든 간단한 디스크 기반의 DB 제공
- C 라이브러리
- SQLite는 프로토타입을 만들 때 사용
- 프로젝트 단계: 분석 → 설계 → 구현 → 테스트 → 고객에게 배포 → 유지보수
-             프로토타입(SQLite)   시제품     완제품(Oracle, MySal, Maria, ...)
- 마크다운 문법 ↓
- [DB browser for SQLite](https://sqlitebrowser.org/dl/)
## 1.1 SQLite browser 설치 및 sqlite3 패키지 load

In [2]:
# GPU 지원 여부: 버전 확인 중요
import sqlite3
sqlite3.sqlite_version # sqlite3 패키지의 버전

'3.40.1'

In [6]:
import pandas as pd
pd.__version__

'1.5.3'

In [7]:
import numpy as np
np.__version__

'1.23.5'

## 1.2 데이터베이스 연결
- SQLite로 DB 연결 시, DB파일이 있으면 연결, DB파일이 없으면 빈 DB파일 생성

In [39]:
# DB 연결
# 자바에서 conn = DriverManager.getConnection()
conn = sqlite3.connect('data/ch10_example.db') # 폴더 없으면 예외 발생
conn

In [40]:
# 커서 객체 생성, 커서는 SQL문 실행시키고, 결과데이터를 조회(select, 그외)하는 데 사용하는 객체
# 자바에서 pstmt = conn.create~~
cursor = conn.cursor()
cursor

In [41]:
cursor.execute('''
    CREATE TABLE MEMBER (
        NAME  TEXT, 
        AGE   INT,
        EMAIL TEXT
    )
''')

OperationalError: table MEMBER already exists

In [11]:
cursor.execute('DROP TABLE MEMBER')

In [12]:
cursor.execute('''
    CREATE TABLE MEMBER (
        NAME  TEXT, 
        AGE   INT,
        EMAIL TEXT
    )
''')

In [14]:
cursor.execute('INSERT INTO MEMBER VALUES (\'홍길동\', 20, \'h@h.com\')')
print('수행 결과 행수: ', cursor.rowcount)
sql = "INSERT INTO MEMBER VALUES ('신길동', 25, 's@s.com')"
cursor.execute(sql)
print('수행 결과 횟수: ', cursor.rowcount)
cursor.execute('INSERT INTO MEMBER VALUES (\'신림동\', 30, \'l@h.com\')')
print('수행 결과 행수: ', cursor.rowcount)

수행 결과 행수:  1
수행 결과 횟수:  1
수행 결과 행수:  1

In [15]:
conn.commit() # 反. conn.rollback() DML문에서만 commit

In [16]:
# SQL전송 결과는 cursor가 가리킴
cursor.execute("SELECT * FROM MEMBER ORDER BY NAME")

In [17]:
# insert, update, delete문 실행결과: cursor.rowcount
# select문 실행 결과를 받는 함수들
    ## fetchone()  : 결과를 한 행씩 받을 때 (튜플)
    ## fetchall()  : 결과를 모두 받을 때 (튜플 list)
    ## fetchmany(n): 결과를 n행 받을 때 (튜플 list)
print(cursor.fetchall())

[('신길동', 25, 's@s.com'), ('신림동', 30, 'l@h.com'), ('홍길동', 20, 'h@h.com')]

In [18]:
print(cursor.fetchall()) # 한 번 소요된 cursor 객체는 다시 fetch할 수 없음 # 자바의 rs.next()와 유사

[]

In [19]:
cursor.execute("SELECT NAME, AGE, EMAIL FROM MEMBER ORDER BY AGE")
members = cursor.fetchall()
members # 튜플 list

[('홍길동', 20, 'h@h.com'), ('신길동', 25, 's@s.com'), ('신림동', 30, 'l@h.com')]

In [21]:
for member in members:
    print(member)

('홍길동', 20, 'h@h.com')
('신길동', 25, 's@s.com')
('신림동', 30, 'l@h.com')

In [23]:
# 한 줄씩 읽기
cursor.execute("SELECT NAME, AGE, EMAIL FROM MEMBER ORDER BY AGE")
member_list = []
while True:
    member = cursor.fetchone() # SQL문 수행 결과 한 줄 가져오기 # 자바의 rs.next()와 유사
    if member is None:
        break
    # print(member)
    member_list.append({'name':member[0], 'age':member[1], 'email':member[2]})

In [24]:
member_list

[{'name': '홍길동', 'age': 20, 'email': 'h@h.com'},
 {'name': '신길동', 'age': 25, 'email': 's@s.com'},
 {'name': '신림동', 'age': 30, 'email': 'l@h.com'}]

In [26]:
# 최상위 n행 읽기
cursor.execute("SELECT NAME, AGE, EMAIL FROM MEMBER ORDER BY AGE")
for member in cursor.fetchmany(10): # n이 SQL결과보다 많아도 오류 X
    print(member)

('홍길동', 20, 'h@h.com')
('신길동', 25, 's@s.com')
('신림동', 30, 'l@h.com')

In [28]:
# 결과 한 줄당 객체로 받기
class Member:
    'Member 테이블의 내용을 받을 객체 타입'
    def __init__(self, name, age, email):
        self.name  = name
        self.age   = age
        self.email = email
    def as_dic(self): # insert문 전송 시 필요
        return {'name' :self.name,
                'age'  :self.age,
                'email':self.email}
    def __str__(self):
        return "{}\t{}\t{}".format(self.name, self.age, self.email)
def to_member(*row): # 튜플 데이터를 매개변수로 받아 Member형 객체로 return
    return Member(row[0], row[1], row[2])

In [30]:
dbreadmember = ('홍길동', 20, 'h@h.com')
m = to_member(*dbreadmember) # 튜플 언패킹
print(m)
print(m.as_dic())

홍길동	20	h@h.com
{'name': '홍길동', 'age': 20, 'email': 'h@h.com'}

In [33]:
# DB 검색 결과를 객체 list로
cursor.execute('SELECT NAME, AGE, EMAIL FROM MEMBER')
member_list = [] # SQL문 수행 결과를 담을 객체 list
members = cursor.fetchall() # 튜플 list
# print(members)
for member in members:
    member_list.append(to_member(*member))

In [35]:
type(members[0]), type(member_list[0])

(tuple, __main__.Member)

In [36]:
for member in member_list:
    print(member)

홍길동	20	h@h.com
신길동	25	s@s.com
신림동	30	l@h.com

In [54]:
cursor.close() # cursor.close()는 생략 가능
conn.close()   # 필수, cursor까지 자동 close

## 1.3 SQL구문에 파라미터 사용하기
- qmark(DB에 따라 불가한 경우가 있음)
- named(추천)

In [42]:
conn = sqlite3.connect('data/ch10_example.db')
cursor = conn.cursor()
cursor.execute("SELECT * FROM MEMBER WHERE NAME IN ('홍길동', '신길동')")
cursor.fetchall()

[('홍길동', 20, 'h@h.com'), ('신길동', 25, 's@s.com')]

In [45]:
# 파라미터 사용하기: qmark 방법 이용(1)
name1 = input('검색할 이름 1: ')
name2 = input('검색할 이름 2: ')
cursor.execute("SELECT * FROM MEMBER WHERE NAME IN (?,?)", (name1, name2)) # 튜플
cursor.fetchall()

검색할 이름 1: 홍길동
검색할 이름 2: 신길동

[('홍길동', 20, 'h@h.com'), ('신길동', 25, 's@s.com')]

In [46]:
# 파라미터 사용하기: qmark 방법 이용(2)
name1 = input('검색할 이름 1: ')
name2 = input('검색할 이름 2: ')
names = [name1, name2]
cursor.execute("SELECT * FROM MEMBER WHERE NAME IN (?,?)", names) # 리스트
cursor.fetchall()

검색할 이름 1: 홍길동
검색할 이름 2: 신길동

[('홍길동', 20, 'h@h.com'), ('신길동', 25, 's@s.com')]

In [51]:
# 파라미터 사용하기: named 방법 이용(1)
name = input('검색할 이름은 > ')
cursor.execute("SELECT * FROM MEMBER WHERE NAME =:name", {'name':name}) # 딕셔너리
members = cursor.fetchall()
if len(members):
    print(members)
else:
    print('해당 이름의 데이터가 없습니다', members)

검색할 이름은 > 하하하
해당 이름의 데이터가 없습니다 []

In [53]:
# 파라미터 사용하기: named 방법 이용(2)
name1 = input('검색할 이름 1: ')
name2 = input('검색할 이름 2: ')
names = {'name1':name1, 'name2':name2}
# cursor.execute("SELECT * FROM MEMBER WHERE NAME IN (:name1, :name2)", {'name1':name1,
#                                                                        'name2':name2})
cursor.execute("SELECT * FROM MEMBER WHERE NAME IN (:name1, :name2)", names)
cursor.fetchall()

검색할 이름 1: 홍홍홍
검색할 이름 2: 홍길동

[('홍길동', 20, 'h@h.com')]

점심먹고 컴퓨터 켬

In [59]:
# MEMBER 테이블에 입력(사용자로부터 이름, 나이, 메일을 입력받아 insert)
import sqlite3
conn = sqlite3.connect('data/ch10_example.db')
cursor = conn.cursor()

In [60]:
class Member:
    'Member 테이블의 내용을 받을 객체 타입'
    def __init__(self, name, age, email):
        self.name  = name
        self.age   = age
        self.email = email
    def as_dic(self): # insert문 전송 시 필요
        return {'name' :self.name,
                'age'  :self.age,
                'email':self.email}
    def __str__(self):
        return "{}\t{}\t{}".format(self.name, self.age, self.email)
def to_member(*row): # 튜플 데이터를 매개변수로 받아 Member형 객체로 return
    return Member(row[0], row[1], row[2])

In [65]:
# MEMBER 테이블에 입력(사용자로부터 이름, 나이, 메일을 입력받아 insert)
try:
    name  = input('입력할 이름은: ')
    age   = int(input('입력할 나이는: '))
except ValueError:
    print('유효하지 않은 나이를 입력하신 경우 18세로 초기화')
    age = 18
finally:
    email = input('입력할 메일은: ')
inputdata = {'name':name, 'age':age, 'email':email} # named 방식
inputdata2 = (name, age, email) # qmark 방식
cursor.execute('INSERT INTO MEMBER VALUES (?,?,?)', inputdata2)
cursor.execute('INSERT INTO MEMBER VALUES (:name, :age, :email)', inputdata)
conn.commit()
if cursor.rowcount == 1:
     print('저장완료')

입력할 이름은: 임길동
입력할 나이는: 33
입력할 메일은: l@l.com
저장완료

In [67]:
try:
    name  = input('입력할 이름은: ')
    age   = int(input('입력할 나이는: '))
except ValueError:
    print('유효하지 않은 나이를 입력하신 경우 18세로 초기화')
    age = 18
finally:
    email = input('입력할 메일은: ')
newMember = Member(name, age, email)
print(newMember.as_dic())
cursor.execute('INSERT INTO MEMBER VALUES (:name, :age, :email)', newMember.as_dic())
conn.commit()
if cursor.rowcount == 1:
     print('저장완료')

입력할 이름은: 김수한
입력할 나이는: 12
입력할 메일은: k@a.com
{'name': '김수한', 'age': 12, 'email': 'k@a.com'}
저장완료

In [85]:
# member 테이블에 데이터를 n번 입력하고 
# 이름에 0을 입력할 때까지 이름, 나이, 메일을 받아 insert
# 이름에 0을 입력하면 이때까지 입력한 데이터들을 출력하고 몇 명을 입력했는지도 출력
member_list = [] # 입력한 member들이 저장될 list변수(딕셔너리 리스트)
while True:
    try:
        name  = input('입력할 이름은(종료는 0): ')
        if name=='0':
            break
        age   = int(input('입력할 나이는: '))
        email = input('입력할 메일은: ')
    except ValueError:
        print('유효하지 않은 나이를 입력하신 경우 18세로 초기화')
        age = 18
        email = input('입력할 메일은: ')
    newMember = {'name':name, 'age':age, 'email':email}
    member_list.append(newMember)
    cursor.execute('INSERT INTO MEMBER VALUES (:name, :age, :email)', newMember)
conn.commit()
print('입력된 데이터는 ', len(member_list), '명입니다', sep='')
for member in member_list:
    print("{}\t{}\t{}".format(member['name'], member['age'], member['email']))

입력할 이름은(종료는 0): 간간간
입력할 나이는: 10
입력할 메일은: ka
입력할 이름은(종료는 0): 난난난
입력할 나이는: 20
입력할 메일은: na
입력할 이름은(종료는 0): 0
입력된 데이터는 2명입니다
간간간	10	ka
난난난	20	na

In [89]:
member_list = [] # 입력한 member들이 저장될 list변수(객체 리스트)
while True:
    try:
        name  = input('입력할 이름은(종료는 0): ')
        if name=='0':
            break
        age   = int(input('입력할 나이는: '))
        email = input('입력할 메일은: ')
    except ValueError:
        print('유효하지 않은 나이를 입력하신 경우 18세로 초기화')
        age = 18
        email = input('입력할 메일은: ')
    newMember = Member(name, age, email)
    member_list.append(newMember)
    cursor.execute('INSERT INTO MEMBER VALUES (:name, :age, :email)', newMember.as_dic())
conn.commit()
print('입력된 자료는 다음과 같이 {}명입니다'.format(len(member_list)))
print('이름\t나이\t메일')
for member in member_list:
    print(member)

입력할 이름은(종료는 0): 이르음
입력할 나이는: 33
입력할 메일은: k@l.com
입력할 이름은(종료는 0): 핸드폰
입력할 나이는: 22
입력할 메일은: h@h.com
입력할 이름은(종료는 0): 0
입력된 자료는 다음과 같이 2명입니다
이름	나이	메일
이르음	33	k@l.com
핸드폰	22	h@h.com

In [90]:
# 입력확인은 DB browser나 python으로
cursor.execute('SELECT * FROM MEMBER')
cursor.fetchall()

[('홍길동', 20, 'h@h.com'),
 ('신길동', 25, 's@s.com'),
 ('신림동', 30, 'l@h.com'),
 ('홍낄뚱', 18, 'h@h.com'),
 ('김세동', 33, 'k@k.com'),
 ('김세동', 33, 'k@k.com'),
 ('임길동', 33, 'l@l.com'),
 ('임길동', 33, 'l@l.com'),
 ('김수한', 12, 'k@a.com'),
 ('김수한', 12, 'k@a.com'),
 ('김수한', 12, 'k@a.com'),
 ('김수한', 12, 'k@a.com'),
 ('0', 0, 'dd'),
 ('0', 0, 'dd'),
 ('0', 0, 'dd'),
 ('0', 0, 'dd'),
 ('0', 0, '0'),
 ('가가가', 10, 'ka'),
 ('나나나', 20, 'na'),
 ('간간간', 10, 'na'),
 ('ka', 18, '20'),
 ('간간간', 10, 'ka'),
 ('간간간', 10, 'ka'),
 ('난난난', 20, 'na'),
 ('홍', 2, 'h@h'),
 ('이르음', 33, 'k@l.com'),
 ('핸드폰', 22, 'h@h.com')]

# 2절. 오라클 데이터베이스 연결
[cx_Oracle](https://cx-oracle.readthedocs.io/en/latest/) 사용

In [92]:
import cx_Oracle

In [94]:
# conn 얻어오는 방법 1
oracle_dsn = cx_Oracle.makedsn(host="localhost", port=1521, sid='xe')
print(oracle_dsn)
conn = cx_Oracle.connect("scott", "tiger", dsn=oracle_dsn) # 딕셔너리매개변수는 docstring으로 확인불가
conn
# 여기서 예외가 발생할 경우 VC_redist.x64.exe 인스톨

(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=xe)))

In [95]:
conn.close()

In [96]:
# conn 얻어오는 방법 2
conn = cx_Oracle.connect("scott", "tiger", "localhost:1521/xe")
conn

In [99]:
# cursor 객체 생성
cursor = conn.cursor()
sql = "SELECT * FROM EMP"
cursor.execute(sql)
emp = cursor.fetchall()

In [101]:
for e in emp: # 튜플 list라 field가 많은 경우 가독성 다소 떨어짐
    print(e)

(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20)
(7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30)
(7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30)
(7566, 'JONES', 'MANAGER', 7839, datetime.datetime(1981, 4, 2, 0, 0), 2975.0, None, 20)
(7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30)
(7698, 'BLAKE', 'MANAGER', 7839, datetime.datetime(1981, 5, 1, 0, 0), 2850.0, None, 30)
(7782, 'CLARK', 'MANAGER', 7839, datetime.datetime(1981, 6, 9, 0, 0), 2450.0, None, 10)
(7788, 'SCOTT', 'ANALYST', 7566, datetime.datetime(1982, 12, 9, 0, 0), 3000.0, None, 20)
(7839, 'KING', 'PRESIDENT', None, datetime.datetime(1981, 11, 17, 0, 0), 5000.0, None, 10)
(7844, 'TURNER', 'SALESMAN', 7698, datetime.datetime(1981, 9, 8, 0, 0), 1500.0, 0.0, 30)
(7876, 'ADAMS', 'CLERK', 7788, datetime.datetime(1983, 1, 12, 0, 0), 1100.0, None, 20)
(7900, 'JAMES', 'CLERK', 7698, datetime.datetime(1981, 12, 3, 0, 0), 950.0, None, 30)
(7902, 'FORD', 'ANALYST', 7566, datetime.datetime(1981, 12, 3, 0, 0), 3000.0, None, 20)
(7934, 'MILLER', 'CLERK', 7782, datetime.datetime(1982, 1, 23, 0, 0), 1300.0, None, 10)

In [104]:
import pandas as pd
emp_df = pd.DataFrame(emp)
emp_df.head()

      0       1         2       3          4       5       6   7
0  7369   SMITH     CLERK  7902.0 1980-12-17   800.0     NaN  20
1  7499   ALLEN  SALESMAN  7698.0 1981-02-20  1600.0   300.0  30
2  7521    WARD  SALESMAN  7698.0 1981-02-22  1250.0   500.0  30
3  7566   JONES   MANAGER  7839.0 1981-04-02  2975.0     NaN  20
4  7654  MARTIN  SALESMAN  7698.0 1981-09-28  1250.0  1400.0  30

In [105]:
# select문 수행한 각 필드 정보
cursor.description

[('EMPNO', <cx_Oracle.DbType DB_TYPE_NUMBER>, 5, None, 4, 0, 0),
 ('ENAME', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 10, 10, None, None, 1),
 ('JOB', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 9, 9, None, None, 1),
 ('MGR', <cx_Oracle.DbType DB_TYPE_NUMBER>, 5, None, 4, 0, 1),
 ('HIREDATE', <cx_Oracle.DbType DB_TYPE_DATE>, 23, None, None, None, 1),
 ('SAL', <cx_Oracle.DbType DB_TYPE_NUMBER>, 11, None, 7, 2, 1),
 ('COMM', <cx_Oracle.DbType DB_TYPE_NUMBER>, 11, None, 7, 2, 1),
 ('DEPTNO', <cx_Oracle.DbType DB_TYPE_NUMBER>, 3, None, 2, 0, 1)]

In [108]:
result = []
for description in cursor.description:
    result.append(description[0])
result

['EMPNO', 'ENAME', 'JOB', 'MGR', 'HIREDATE', 'SAL', 'COMM', 'DEPTNO']

In [109]:
[ row[0] for row in cursor.description]

['EMPNO', 'ENAME', 'JOB', 'MGR', 'HIREDATE', 'SAL', 'COMM', 'DEPTNO']

In [111]:
emp_df.columns

RangeIndex(start=0, stop=8, step=1)

In [116]:
emp_df.columns = [row[0] for row in cursor.description]
emp_df.sample() # 임의의 한 줄 출력

   EMPNO  ENAME    JOB     MGR   HIREDATE    SAL  COMM  DEPTNO
0   7369  SMITH  CLERK  7902.0 1980-12-17  800.0   NaN      20

In [119]:
# 검색할 이름을 사용자에게 받아 해당 내용을 출력
ename = input('검색할 이름은: ')
sql = "SELECT * FROM EMP WHERE ENAME=UPPER(:ename)"
cursor.execute(sql, {'ename':ename})
emp = cursor.fetchall()
if len(emp):
    for e in emp:
        print(e)
else:
    print('입력하신 이름의 데이터는 없습니다')

검색할 이름은: scott
(7788, 'SCOTT', 'ANALYST', 7566, datetime.datetime(1982, 12, 9, 0, 0), 3000.0, None, 20)

In [121]:
fieldnames = [description[0] for description in cursor.description]
print(fieldnames)
print(e)

['EMPNO', 'ENAME', 'JOB', 'MGR', 'HIREDATE', 'SAL', 'COMM', 'DEPTNO']
(7788, 'SCOTT', 'ANALYST', 7566, datetime.datetime(1982, 12, 9, 0, 0), 3000.0, None, 20)

In [123]:
for idx in range(len(e)):
    print("{}:{}".format(fieldnames[idx], e[idx] if e[idx] is not None else ''))

EMPNO:7788
ENAME:SCOTT
JOB:ANALYST
MGR:7566
HIREDATE:1982-12-09 00:00:00
SAL:3000.0
COMM:
DEPTNO:20

In [125]:
list(zip(fieldnames, e))

[('EMPNO', 7788),
 ('ENAME', 'SCOTT'),
 ('JOB', 'ANALYST'),
 ('MGR', 7566),
 ('HIREDATE', datetime.datetime(1982, 12, 9, 0, 0)),
 ('SAL', 3000.0),
 ('COMM', None),
 ('DEPTNO', 20)]

In [126]:
for fieldnames, data in zip(fieldnames, e):
    print("{}:{}".format(fieldnames, data if data is not None else '-'))

EMPNO:7788
ENAME:SCOTT
JOB:ANALYST
MGR:7566
HIREDATE:1982-12-09 00:00:00
SAL:3000.0
COMM:-
DEPTNO:20

In [64]:
cursor.close()
conn.close()

ProgrammingError: Cannot operate on a closed database.

# 3절. 연습문제

In [21]:
class Member:
    'Member 테이블의 내용을 받을 객체 타입'
    def __init__(self, name, phone, email, age, grade, etc):
        self.name   = name
        self.phone  = phone
        self.email  = email
        self.age    = age
        self.grade  = grade
        self.etc    = etc
    def as_dic(self): # insert문 전송 시 필요
        return {'name' :self.name,
                'phone':self.phone,
                'email':self.email,
                'age'  :self.age,
                'grade':self.grade,
                'etc'  :self.etc}
    def __str__(self):
        return "{}\t{}\t{}\t{}\t{}\t{}".format(self.name, self.phone, self.email, self.age, self.grade, self.etc)
def to_member(*row): # 튜플 데이터를 매개변수로 받아 Member형 객체로 return 
    return Member(row[0], row[1], row[2], row[3], row[4], row[5])

In [22]:
print(list(to_member('홍','999', 'e@',22, 5, 'etc').__dict__.keys()))

['name', 'phone', 'email', 'age', 'grade', 'etc']

In [3]:
import sqlite3
conn = sqlite3.connect("data/ch10_data.db")
cursor = conn.cursor()

## 1.입력

In [4]:
def insert_member():
    cursor = conn.cursor()
    name  = input('입력할 이름은: ')
    phone = input('입력할 휴대폰 번호는: ')
    email = input('입력할 메일은: ')
    try:
        age   = int(input('입력할 나이는: '))
        if age < 0:
            age = 18
    except ValueError as e:
        print('유효하지 않은 나이 입력 시 나이는 18세로 초기화')
        age = 18
    try:
        grade = int(input('입력할 등급(1~5)은: '))
        if grade < 1:
            grade = 1
        if grade > 5:
            grade = 5
    except ValueError as e:
        print('유효하지 않은 등급을 입력 시 등급은 1로 초기화')
        grade = 1
    etc = input('입력할 기타사항은: ')
    newMember = Member(name, phone, email, age, grade, etc)
    cursor.execute("INSERT INTO MEMBER VALUES (:name, :phone, :email, :age, :grade, :etc)", newMember.as_dic())
    conn.commit()
    print()
    print('입력 완료')
    print(newMember)
    cursor.close()

In [6]:
insert_member()

입력할 이름은: ㅇ
입력할 휴대폰 번호는: ㅇ
입력할 메일은: ㅇ
입력할 나이는: ㅇ
유효하지 않은 나이 입력 시 나이는 18세로 초기화
입력할 등급(1~5)은: ㅇ
유효하지 않은 등급을 입력 시 등급은 1로 초기화
입력할 기타사항은: ㅇ

입력 완료
ㅇ	ㅇ	ㅇ	18	1	ㅇ

## 2. 전체 출력

In [5]:
def select_all():
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM MEMBER")
    members = cursor.fetchall() # 튜플 list
    print('='*70)
    print("{:^70}".format("고객 정보"))
    print('-'*70)
    # print(members)
    for member in members:
        print(to_member(*member))
    print('-'*70)
    cursor.close()

In [8]:
select_all()

======================================================================
                                고객 정보
----------------------------------------------------------------------
홍	010-1111-1111	H@H.COM	22	3	몰라
홍	010-0000-0000	h@h.com	58	5	dd
홍	010-1111-1111	h@h.com	11	1	dd
뽀로로	010-2222-2222	p@h.com	15	1	노는 게 젤 조아
사람 2	010-	메일2	18	5	ㅇㅇ
루피	010-2222-3333	메일1	15	1
ㅇ	ㅇ	ㅇ	18	1	ㅇ
----------------------------------------------------------------------

## 3. 이름 검색

In [6]:
def select_name():
    cursor = conn.cursor()
    inputName = input('검색할 이름: ')
    cursor.execute("SELECT * FROM MEMBER WHERE NAME IN (:name)", {'name':inputName})
    members = cursor.fetchall()
    print('='*70)
    print("{:^70}".format("고객 정보"))
    print('-'*70)
    for member in members:
        print(to_member(*member))
    print('-'*70)
    cursor.close()

In [10]:
select_name()

검색할 이름: ㅇ
======================================================================
                                고객 정보
----------------------------------------------------------------------
ㅇ	ㅇ	ㅇ	18	1	ㅇ
----------------------------------------------------------------------

## 4. 메일 삭제

In [7]:
def delete_email():
    cursor = conn.cursor()
    inputEmail = input('삭제할 이메일: ')
    cursor.execute("DELETE FROM MEMBER WHERE EMAIL IN (:email)", {'email':inputEmail})
    if cursor.rowcount:
        print('{}명 삭제 완료'.format(cursor.rowcount))
    else:
        print('해당 이메일의 데이터가 없습니다')
    cursor.close()

In [12]:
delete_email()

삭제할 이메일: ㅇ
1명 삭제 완료

## 5. CSV 내보내기

In [35]:
def save_csv():
    import csv
    member_dict_list = []
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM MEMBER")
    members = cursor.fetchall() # 튜플 list
    for member in members:
        member_dict_list.append(to_member(*member).as_dic())
    member = to_member(*members[0])
    fieldnames = list(member.__dict__.keys()) #list(member.__dict__.keys())
    filename = input('파일명을 입력하세요(csv 확장자 포함)')
    try:
        with open('data/'+filename, 'w', newline='', encoding='UTF-8') as f:
            dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
            dict_writer.writeheader()
            dict_writer.writerows(member_dict_list)
    except:
        print('데이터 내보기 예외', e)
    cursor.close()

In [36]:
save_csv()

['name', 'phone', 'email', 'age', 'grade', 'etc']
파일명을 입력하세요(csv 확장자 포함)abc.csv

In [38]:
save_csv()

파일명을 입력하세요(csv 확장자 포함)ch10_data.csv

## 0. 종료

In [14]:
def close_sql():
    global conn
    conn.close()
    print("종료합니다")

In [15]:
close_sql()

종료합니다

## main

In [20]:
def main():
    while True:
        print("1.입력", "2.전체 조회", "3.이름 찾기", "4.메일 삭제", "5.CSV 내보내기", "0.종료",
             sep=" | ")
        try:
            menu = int(input("메뉴 선택: "))
        except:
            print("유효하지 않은 값을 입력하였습니다. 다시 선택해주세요.")
        if menu==1:
            insert_member()
        elif menu==2:
            select_all()
        elif menu==3:
            select_name()
        elif menu==4:
            delete_email()
        elif menu==5:
            save_csv()
        elif menu==0:
            close_sql()
            break

if __name__=='__main__':
#     import sqlite3
    import cx_Oracle
    global conn
#     conn = sqlite3.connect('data/ch10_data.db')
    oracle_dsn = cx_Oracle.makedsn(host="localhost", port=1521, sid='xe')
    conn = cx_Oracle.connect("scott", "tiger", dsn=oracle_dsn)
    main()

1.입력 | 2.전체 조회 | 3.이름 찾기 | 4.메일 삭제 | 5.CSV 내보내기 | 0.종료
메뉴 선택: 5

IndexError: tuple index out of range