<b><font color="red" size="6">ch05. 함수</font></b>
- 반복해서 사용할 코드를 묶어놓고, 그것에 이름을 붙인 것.
- overroading 불가
- 함수의 정의
```
def 함수명([매개변수1, 매개변수2, ...]):
    명령어1
    명령어2
```

# 1절. 함수의 정의 및 사용

## 1.1 함수 정의하기

In [9]:
# 함수 정의
# x와 msg는 매개변수(parameter)
def my_hello(x, msg): 
    for i in range(x): # x번 반복
        print(i, msg)

In [4]:
# 함수 호출
#  5, 'Hello, python'은 인자(argument)
my_hello(5, 'Hello, python')

0 Hello, python
1 Hello, python
2 Hello, python
3 Hello, python
4 Hello, python

In [5]:
# 함수도 변수
type(my_hello)

function

In [6]:
my_hello = 10 
type(my_hello)

int

In [7]:
my_hello(5, 'Hello, python') # Error

TypeError: 'int' object is not callable

In [ ]:
del my_hello
# 변수는 삭제해도 함수는 사용불가(파이썬 내장함수만 사용 가능)

In [8]:
my_hello(2, 'msg')

TypeError: 'int' object is not callable

In [10]:
def my_hello():
    print('Hello, Python')
    print('Hello, World')

In [12]:
my_hello()

Hello, Python
Hello, World

In [13]:
my_hello

In [16]:
# 현재 모듈의 이름
__name__

'__main__'

In [17]:
if __name__ == '__main__': # 현재 모듈 이름 '__main__'이면
    my_hello()             # my_hello() 실행

Hello, Python
Hello, World

In [7]:
import a # a.py가 해석돼서 메모리에 로드됨

__name__= a

In [8]:
a.test()

모듈(*.py) 테스트입니다
주말 잘 보내세요

In [4]:
# a모듈(a.py) 안의 test만 로드
from a import test

In [5]:
test()

모듈(*.py) 테스트입니다
주말 잘 보내세요

## 1.2 docstring(""" """ or ''' ''')

In [4]:
def my_function():
    """
    함수의 첫 라인에 docstring을 포함할 수 있습니다.
    docstring은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능을 포함
    (함수 호출 시 Shift + Tab으로 doctring을 볼 수 있음)
    """
    pass

In [6]:
# docstring 보기
print(my_function.__doc__)

    함수의 첫 라인에 docstring을 포함할 수 있습니다.
    docstring은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능을 포함
    (함수 호출 시 Shift + Tab으로 doctring을 볼 수 있음)

In [44]:
# 피보나치 수열
def fibonacci(n):
    """
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력합니다
    ex. n = 10: 0, 1, 1, 2, 3, 5, 8   
    """
    a, b = 0, 1
    while a < n: # a가 n보다 작을 동안만 반복
        print(a, end=' ')
        a, b = b, a+b # a에 b를, b에 a+b

In [9]:
# print 함수는 \n이 디폴트
# end: 키워드 인수
print('hello', end='\t')
print('hi')

hello	hi

In [12]:
# n = 1000, a = 987
# a가 n보다 작을 때까지만
fibonacci(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

## 1.3 지역변수(local var)와 전역변수(global var)
- 지역변수: 함수 내에서 만든 변수
- 전역변수: 함수 밖에서 만든 변수

In [13]:
# 전역변수
# 어디서든 사용 가능
global_var = 100
def func1():
    print('함수 안:', global_var)
func1()
print('함수 밖:', global_var)

함수 안: 100
함수 밖: 100

In [14]:
# 지역변수
# 함수 내에서만 사용 가능
def func2():
    local_var = 200
    print('함수 안:', local_var)
func2()
print('함수 밖', local_var) # Error

함수 안: 200

NameError: name 'local_var' is not defined

In [16]:
g_var = 100 # 전역변수(변수 선언과 할당)
def func3():
    g_var = 200 # 지역변수(변수 선언과 할당)
    print('지역변수 g_var:', g_var)
func3()
print('전역변수 g_var:', g_var)

지역변수 g_var: 200
전역변수 g_var: 100

In [21]:
# 렉시컬(lexical) 특성
# 어떤 변수나 함수의 값은 '어디에서 선언했는지' 즉, 렉시컬 환경이 어디인지에 따라서 결정
g_var = 100 # 전역변수
def func3():
    global g_var # func3 함수 내에서의 g_var는 전역변수를 쓴다
    print('함수 안 g_var:', g_var)
    g_var = 200
func3()
print('함수 밖 g_var:', g_var)

함수 안 g_var: 100
함수 밖 g_var: 200

## 1.4 값에 의한 호출
- 함수에 인수로 전달되는 변수가 스칼라(scalar) 변수(문자, 숫자, 논리형)일 때

In [22]:
foo = 'a' # 전역변수
id(foo)

1504380151792

In [39]:
def func1(f): # 매개변수는 지역변수(함수 내에서만 유효)
    print('Before:', f, '의 주소는', id(f))
    f = f * 3 # aaa
    print('After:', f, '의 주소는', id(f))
    
func1(foo) # 함수 호출
# 전역변수 foo를 copy한 지역변수 f가 생성됨. 
# 지역변수 f는 전역변수 foo의 주소를 참조
# f의 값이 바뀌면 이전의 f 삭제하고 새로운 f 생성
# 새로운 지역변수 f는 참조하는 주소도 바뀜

Before: a 의 주소는 1504380151792
After: aaa 의 주소는 1504495199024

In [40]:
# 전역변수 값은 불변
print('foo =', foo, '의 주소는', id(foo))

foo = a 의 주소는 1504380151792

## 1.5 참조에 의한 호출
- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [41]:
L = [1, 2, 3, 4, 5]
id(L)

1504494843776

In [42]:
def func2(f): # 매개변수는 지역변수
    print('Before:', f, '의 주소는', id(f))
    f.append(6)
    print('After:', f, '의 주소는', id(f))
func2(L) # 함수 호출
# 전역변수 L을 copy한 지역변수 f가 생성됨.
# 지역변수 f는 전역변수 L의 주소를 참조
# f에 append 시, 참조하는 주소는 바뀌지 않으며, 전역변수 L에도 데이터가 append됨

Before: [1, 2, 3, 4, 5] 의 주소는 1504494843776
After: [1, 2, 3, 4, 5, 6] 의 주소는 1504494843776

In [43]:
print('L=', L, '의 주소는', id(L))

L= [1, 2, 3, 4, 5, 6] 의 주소는 1504494843776

## 1.6 함수의 이름 변경
- Python: 함수형 언어, 객체지향언어

In [45]:
fibonacci(20)

0 1 1 2 3 5 8 13

In [47]:
fibo = fibonacci # fibonacci 함수 이름을 fibo로도 사용 가능

In [48]:
fibo(20)

0 1 1 2 3 5 8 13

# 2절. 함수의 실행결과 반환하는 return

In [70]:
def fibonacci_print(n):
    """
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력합니다
    ex. n = 10: 0, 1, 1, 2, 3, 5, 8   
    """
    a, b = 0, 1
    while a < n: # a가 n보다 작을 동안만 반복
        print(a, end=' ')
        a, b = b, a+b # a에 b를, b에 a+b
        print()
        
def fibonacci(n):
    """
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    """
    result = [] # 최악의 조건으로 초기화
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [69]:
x = fibonacci_print(10)
print(x) # return이 없는 함수를 할당받으면 None
print(type(x))

0
1
1
2
3
5
8
None
<class 'NoneType'>

In [57]:
x = fibonacci(10)
print(x)

[0, 1, 1, 2, 3, 5, 8]

## 여러 개 값 return

In [63]:
def swap(a, b):
    """
    매개변수의 순서를 바꿔서 return
    """
    return b, a # 튜플 1개, 괄호 생략

In [64]:
x, y = 5, 10
print('함수 실행 전 x, y =', x, y)
x, y = swap(x, y)
print('함수 실행 후 x, y =', x , y)

함수 실행 전 x, y = 5 10
함수 실행 후 x, y = 10 5

In [71]:
# swap 변수의 타입은 tuple
a = swap(10, 20)
print(type(a))
print(a)

<class 'tuple'>
(20, 10)

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [73]:
# 기본값을 갖는 매개변수는 순서인수 뒤에 위치해야 함
def make_url(ip, port = 80):
    return "http://{}:{}".format(ip, port)

In [76]:
# 기본값을 갖는 매개변수는 선택적으로 사용
print(make_url('localhost', 8090))
print(make_url('localhost')) # 두 번째 매개변수 미입력 시 default값

# 출력 시 매개변수의 순서가 바뀐다면, [매개변수명=값]의 형태로 호출할 것
print(make_url(port=9090, ip="www.naver.com"))

http://localhost:8090
http://localhost:80
http://www.naver.com:9090

## 3.2 기본 변수를 갖는 매개변수

- 매개변수에 기본값이 스칼라(scalar, 문자, 숫자, 논리형) 변수일 경우
- 매개변수에 기본값이 리스트, 셋, 딕셔너리 또는 객체일 경우

In [81]:
i = 5
# 기본변수가 scalar 변수일 때: arg의 기본값은 함수가 정의되는 시점으로 셋팅
def func2(arg = i):
    print('arg =', arg)

In [82]:
# 매개변수에 값 넣었을 때
func2(10)

arg = 10

In [83]:
# 매개변수에 값 넣지 않았을 때, 기본값 i = 5 출력
func2()

arg = 5

In [84]:
# i값 변경(i = 10)해도, func2() 결과 불변 (i = 5) 
i = 10  
func2()

arg = 5

In [88]:
# 기본변수가 리스트, 셋, 딕셔너리, 객체일 경우: 실행되는 시점
list_ = []
def func3(a, L = list_):
    L.append(a)
    return L
print(func3(10))
print('list_ :', list_) # 리스트 L값 변화

[10]
list_ : [10]

In [89]:
print(func3(20)) # 10이 들어있는 리스트 L(실행 시 마다 공유)
print('list_ :', list_)

[10, 20]
list_ : [10, 20]

In [90]:
print(func3(30)) # 10, 20이 들어있는 리스트 L(실행 시 마다 공유)
print('list_ :', list_)

[10, 20, 30]
list_ : [10, 20, 30]

In [92]:
# 공유하지 않도록 기본값을 가지는 매개변수로 변경
def func3(a, L = []):
    L.append(a)
    return L
print(func3(40))
print('list_ :', list_) # 리스트 L값 불변

[40]
list_ : [10, 20, 30]

## 3.3 순서 인수, 키워드 인수
- 순서 인수: 함수에 정의된 순서대로 전달하는 방식
- 키워드 인수: 인수의 이름을 명시적으로 전달하는 방식
- 함수 정의 시 순서인수와 키워드 인수가 같이 올 경우, 반드시 순서인수 → 키워드인수 순으로 입력
```
def function명(변수명1, 변수명2, ..., 변수명n = 기본값):
```

In [96]:
def fun(a, b):
    return a * 10 + b

In [97]:
# 순서 인수
fun(3, 4)

43

In [98]:
# 키워드 인수
fun(b = 3, a = 4)

43

In [100]:
# None값 비교
# ==      (X) 
# is None (O)
def func4(a, L = None):
    if L is None:
        L = []
    L.append(a)
    return L

In [104]:
# 질문: 3, 4번째 결과 같은 이유?
lst = []
print(func4(10, lst))
print(func4(L = lst, a = 10))
print(func4(20))
print(func4(20, None))

[10]
[10, 10]
[20]
[20]

## 3.4 튜플 매개변수를 이용한 가변인수 설정

In [106]:
def add(a, b):
    return a + b
def add(a, b, c): # 덮어씌움
    return a + b + c

In [109]:
add(1, 2, 3)

6

In [110]:
add(1, 2) # Error(c 인자가 없음)

TypeError: add() missing 1 required positional argument: 'c'

In [125]:
# 가변인자 함수 add
# *(아스테리크)args → 매개변수가 튜플로 전달됨
def add(*args):
    """
    전달받은 매개변수들의 합을 return
    매개변수가 하나도 없을 경우 0을 return
    """
    # print(args)
    sum = 0 # 누적변수
    for num in args:
        sum += num
    return sum

In [129]:
# return값 없는 경우, print()로 출력하면 None 출력됨
print(add(1))
print(add(1, 2))
print(add(1, 2, 3, 4, 5, 6, 7))
print(add())

1
3
28
0

In [134]:
subject = ('Java', 'Oracle', 'Web', 'Python')
' - '.join(subject)

'Java - Oracle - Web - Python'

In [141]:
def concat(*subject, sep):
    return sep.join(subject)

In [143]:
concat('Java', 'Oracle', 'Web', 'Python', '  ^____^  ') # Error(sep이 없음)

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [144]:
# sol 1: 파라미터이름을 지정해서 호출
concat('Java', 'Oracle', 'Web', 'Python', sep='  ^____^  ')

'Java  ^____^  Oracle  ^____^  Web  ^____^  Python'

In [6]:
# sol 2: 기본값을 갖는 키워드인수 사용
# print()함수와 같은 원리
def concat(*subject, sep=' '): # 튜플인수 > 키워드인수
    return sep.join(subject)

In [9]:
# 키워드인수의 기본값이 출력됨
concat('Java', 'Oracle', 'Web', 'Python')

'Java Oracle Web Python'

In [10]:
# 키워드인수 선언 안 하면 args로 출력됨
concat('Java', 'Oracle', 'Web', 'Python', ' ~ ')

'Java Oracle Web Python  ~ '

In [11]:
concat('Java', 'Oracle', 'Web', 'Python', sep=' ~ ')

'Java ~ Oracle ~ Web ~ Python'

In [12]:
# sol 3: sep을 순서인수로 앞으로 선언
def concat(sep, *subject):
    return sep.join(subject)

In [14]:
concat(' ~ ', 'Java', 'Oracle', 'Web', 'Python')

'Java ~ Oracle ~ Web ~ Python'

## 3.5 딕셔너리 매개변수
- 딕셔너리 인수: 여러 개의 키워드 인수를 딕셔너리 형태로 받아서 가변 키워드 인수로 처리

In [29]:
# 인수를 받아 딕셔너리를 만드는 함수
# **args → 매개변수가 딕셔너리로 전달됨
def func5(**args):
    print(args)
    print("인수 타입:", type(args))
    print() # 개행
    for key, value in args.items():
        print("{}:{}".format(key, value))

In [30]:
func5(name = "홍길동", age = 33)

{'name': '홍길동', 'age': 33}
인수 타입: <class 'dict'>

name:홍길동
age:33

In [32]:
func5(name = "김길동", address="서울", tel="010-9999-9999")

{'name': '김길동', 'address': '서울', 'tel': '010-9999-9999'}
인수 타입: <class 'dict'>

name:김길동
address:서울
tel:010-9999-9999

## 3.6 함수 정의 시 매개변수의 순서
`순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)`

In [34]:
# 순서인수 > 튜플인수(*) > 딕셔너리인수(**)
def func6(a, b, *c, **d):
    print('순서인수     a =', a)
    print('순서인수     b =', b)
    print('튜플인수     c =', c)
    print('딕셔너리인수 d =', d)

In [35]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, name = "kim", age = 30)

순서인수     a = 10
순서인수     b = 20
튜플인수     c = (1, 2, 3, 4, 5, 6, 7)
딕셔너리인수 d = {'name': 'kim', 'age': 30}

In [36]:
# 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)
def func7(a, b, c, *d, e = 10, **f):
    print('순서인수     a =', a)
    print('순서인수     b =', b)
    print('순서인수     c =', c)
    print('튜플인수     d =', d)
    print('키워드인수   e =', e)
    print('딕셔너리인수 f =', f)

In [38]:
# 순서인수는 필수입력
# 튜플인수는 입력 안 하면 빈 튜플
# 키워드인수는 입력 안 하면 기본값
# 딕셔너리인수는 입력 안 하면 빈 딕셔너리
func7(10, 20, 30)

순서인수     a = 10
순서인수     b = 20
순서인수     c = 30
튜플인수     d = ()
키워드인수   e = 10
딕셔너리인수 f = {}

In [39]:
func7(10, 20, 30, e = 100)

순서인수     a = 10
순서인수     b = 20
순서인수     c = 30
튜플인수     d = ()
키워드인수   e = 100
딕셔너리인수 f = {}

In [40]:
func7(10, 20, 30,
      1, 2, 3, 4, 5,
      e = 100,
      shape = "rect", width = 20, height = 30)

순서인수     a = 10
순서인수     b = 20
순서인수     c = 30
튜플인수     d = (1, 2, 3, 4, 5)
키워드인수   e = 100
딕셔너리인수 f = {'shape': 'rect', 'width': 20, 'height': 30}

## 3.7 인수의 언패킹

### 튜플인수 언패킹

In [41]:
def add(*args): # ((1, 2, 3, 4, 5),)
    sum = 0
    for num in args:
        sum += num
    return sum

In [42]:
add(1, 2, 3, 4, 5)

15

In [44]:
numbers = (1, 2, 3, 4, 5) # 언패킹해서 add()함수의 인수로 받고 싶음
add(*numbers) # 튜플 언패킹
# add(numbers[0], numbers[1], numbers[2], numbers[3], numbers[4]) 위와 동일

15

In [45]:
# 리스트도 동일 방법으로 가능
num_lst = [1, 2, 3]
add(*num_lst)

6

### 딕셔너리 인수 언패킹

In [48]:
def func8(**data):
    for item in data.items():
        print(item)
func8('shape': "rect",
      'height': 30,
      'width' : 40)

('shape', 'rect')
('height', 30)
('width', 40)

In [51]:
info = {'shape':'triangle', 'height': 40, 'width' : 30}
info

{'shape': 'triangle', 'height': 40, 'width': 30}

In [52]:
func8(**info) ## 딕셔너리 언패킹

('shape', 'triangle')
('height', 40)
('width', 30)