In [1]:
import pandas as pd
import numpy as np

In [2]:
# Data read
# 어획량 Data
fish_catch = pd.read_csv('data/어획량_수정본.csv')
# 방류 Data
fish_discharge = pd.read_csv('data/방류실적_수정.csv')

In [5]:
display(fish_catch, fish_discharge)

      어종명    연도   월   총마릿수  총중량(kg)
0    가오리류  2023   1    0.0      0.0
1    가오리류  2023   2   16.0     16.2
2    가오리류  2023   3  113.0     84.8
3    가오리류  2023   4    0.0      0.0
4    가오리류  2023   5    0.0      0.0
..    ...   ...  ..    ...      ...
677   기타류  2024   6    0.0      0.0
678   기타류  2024   7    0.0      0.0
679   기타류  2024   8    0.0      0.0
680   기타류  2024   9    0.0      0.0
681   기타류  2024  10    0.0      0.0

[682 rows x 5 columns]

      품종   방류물량1  방류구분    연도   월
0    감성돔  123831  매입방류  2022   1
1    감성돔  139183  매입방류  2022   6
2    감성돔  303030  매입방류  2022   1
3    감성돔  100000  생산방류  2022   7
4    감성돔  208290  매입방류  2022   6
..   ...     ...   ...   ...  ..
749   기타       0   방류x  2023   8
750   기타       0   방류x  2023   9
751   기타       0   방류x  2023  10
752   기타       0   방류x  2023  11
753   기타       0   방류x  2023  12

[754 rows x 5 columns]

In [13]:
print(fish_catch['어종명'].unique(), fish_discharge['품종'].unique())
print(len(fish_catch['어종명'].unique()), '종,', len(fish_discharge['품종'].unique()), '종')

['가오리류' '가자미류' '갈치' '감성돔' '강달이류' '고등어' '기름가자미' '기타다랑어류' '기타돔류' '꽁치'
 '넙치류(광어)' '농어류' '눈볼대' '능성어' '대구' '돌돔(줄돔)' '망둑어류' '멸치' '민어' '반지' '방어류'
 '밴댕이류' '병어류' '보구치' '복어류' '옥돔류' '자리돔' '참다랑어' '참돔' '학공치' '기타류'] ['감성돔' '갑오징어' '강도다리' '개볼락' '꺽지' '꼼치' '낙지' '넙치' '대구' '돌가자미' '돌돔' '명태'
 '문치가자미' '민어' '박대' '볼락' '붉바리' '연어' '왕우럭' '은어' '자바리' '점농어' '주꾸미' '쥐노래미'
 '쥐치' '참돔' '참조기' '황복' '황어' '대문어' '도다리' '능성어' '전어' '기타']
31 종, 34 종

In [23]:
fish_catch_species = fish_catch['어종명'].unique()
fish_discharge_varieties = fish_discharge['품종'].unique()

species_to_varieties = {
    ['가오리류', '갈치', '강달이류', '고등어', '기름가자미', '기타다랑어류', '꽁치', '눈볼대', '망둑어류', '멸치', ] : '기타',
    '가자미류' : ['돌가자미', '문치가자미', '강도다리', '도다리'],
    '감성돔' : ['감성돔'],
    '기타돔류' : ['자바리', '붉바리'],
    '넙치류(광어)' : ['넙치'],
    '농어류' : ['점농어'],
    '능성어' : ['능성어'],
    '대구' : ['대구'],
    '돌돔(줄돔)' : ['돌돔'],
    '민어' : ['민어'],
    '반지' : ['기타'],
    '방어류' : ['기타'],
    '밴댕이류' : ['기타'],
    '병어류' : ['기타'],
    '보구치' : ['기타'],
    '복어류' : ['황복'],
    '옥돔류' : ['기타'],
    '자리돔' : ['기타'],
    '참다랑어' : ['기타'],
    '참돔' : ['참돔'],
    '학공치' : ['기타'],
    '기타류' : ['갑오징어', '개볼락', '꺽지', '꼼치', '낙지', '명태', '박대', '볼락', '연어', '왕우럭', '은어',
            '주꾸미', '쥐노래미', '쥐치', '참조기', '황어', '대문어', '전어']
    
 }

# 데이터 프레임으로 변경
df_catch = pd.DataFrame({'어종명': fish_catch_species})
df_discharge = pd.DataFrame({'품종': fish_discharge_varieties})

# 매핑 정보를 활용해 데이터 통합
def map_species(row, mapping):
    for species, varieties in mapping.items():
        if row in varieties:
            return species
    return '기타'

df_discharge['어종명'] = df_discharge['품종'].apply(lambda x: map_species(x, species_to_varieties))

print(df_discharge['품종'].unique())
print(df_discharge['어종명'].unique())
display(df_discharge.sample(15))
display(df_catch.sample(5))

['감성돔' '갑오징어' '강도다리' '개볼락' '꺽지' '꼼치' '낙지' '넙치' '대구' '돌가자미' '돌돔' '명태'
 '문치가자미' '민어' '박대' '볼락' '붉바리' '연어' '왕우럭' '은어' '자바리' '점농어' '주꾸미' '쥐노래미'
 '쥐치' '참돔' '참조기' '황복' '황어' '대문어' '도다리' '능성어' '전어' '기타']
['감성돔' '기타류' '가자미류' '넙치류(광어)' '대구' '돌돔(줄돔)' '민어' '기타돔류' '농어류' '참돔' '복어류'
 '능성어' '가오리류']

       품종      어종명
26    참조기      기타류
7      넙치  넙치류(광어)
28     황어      기타류
33     기타     가오리류
1    갑오징어      기타류
27     황복      복어류
12  문치가자미     가자미류
15     볼락      기타류
11     명태      기타류
32     전어      기타류
13     민어       민어
5      꼼치      기타류
19     은어      기타류
25     참돔       참돔
6      낙지      기타류

      어종명
17     멸치
20    방어류
23    보구치
14     대구
6   기름가자미

In [15]:
# 품종 고유값 추출
unique_varieties = df_discharge['품종'].unique()

# 매핑에 포함되지 않은 품종 찾기
unmapped_varieties = set(unique_varieties) - set([item for sublist in species_to_varieties.values() for item in sublist])
print("매핑되지 않은 품종:", unmapped_varieties)

매핑되지 않은 품종: set()